body {
  background-color: antiquewhite;
}

header {
  background-color: rgb(82, 183, 136);
  border-bottom: 2px solid black;
  display: inline-block;
  font-family: Texturina, serif;
  font-weight: 600;
  height: 50px;
  position: absolute;
  right: 0;
  text-align: left;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header {
  bottom: 30%;
  color: rgb(108, 200, 202);
  display: inline-block;
  font-size: xx-large;
  margin: auto 1%;
  position: relative;
  text-align: left;
  text-shadow: 1.5px 1.5px black;
}

.logo {
  height: 50px;
  position: relative;
}

main {
  background-color: rgb(82, 183, 202);
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 1px 1px black;
  margin: auto;
  padding: 1em;
  position: relative;
  text-align: center;
  top: 3.3em;
  width: 70%;
}

h1 {
  color: silver;
  font-family: Dancing Script, cursive;
  font-size: 80px;
  font-weight: 600;
  margin: 0.3em auto;
  position: relative;
  text-shadow: 1.2px 1.2px black;
}

.ball {
  border: 1px solid black;
  border-radius: 100%;
  display: inline-block;
  height: 6em;
  margin: 20px;
  width: 6em;
}

.salt {
  color: rgb(93, 175, 94);
  font-family: Rock Salt, cursive;
  font-size: 30px;
  font-weight: 600;
  text-shadow: 2px 2px black;
}

button {
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 7px;
  box-shadow: 2px 2px black;
  color: silver;
  font-family: Rock Salt, cursive;
  height: 40px;
  text-shadow: 1px 1px black;
  width: 160px;
}
